<!-- Page Content -->
<div class="container" style="border: solid;color: black">
    <div class="row">
        <div class="alert alert-danger" ng-show="message">
            Patient Created / Updated Successfully.
        </div>
        <div class="alert alert-danger" ng-show="error">
            Could not create / update the patient.
        </div>
        <div class="col-md-3 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="resources/app/images/patients/patient.png" alt=""/>
            </a>
        </div>
        <div class="col-md-5 portfolio-item">
            <div class="row">
                <b> Name : </b> <input type="text" ng-model="patient.name" placeholder="Patient Name"/>
            </div>
            <div class="row">
                <b> Gender : </b>
                <select ng-model="patient.gender">
                    <option ng-repeat="gender in gender" value="{{gender.gender}}"
                            ng-selected="patient.gender === gender.gender">{{gender.gender}}
                    </option>
                </select>
            </div>
            <div class="row">
                <b> Mobile : </b> <input type="number" ng-model="patient.phoneNumber" placeholder="10 digit Mobile No"/>
            </div>
            <div class="row">
                <b> Date of Birth : </b> <input type="text" ng-model="patient.dateOfBirth"
                                                placeholder="dd-mm-yyyy"/>
            </div>
            <div class="row">
                <b> Address : </b>
            </div>
            <div class="row">
                <input type="text" ng-model="patient.address.addressLine1" placeholder="Address line 1"/>
                <input type="text" ng-model="patient.address.addressLine2" placeholder="Address line 2"/>
            </div>
            <div class="row">
                <input type="text" ng-model="patient.address.city" placeholder="City"
                       ng-init="patient.address.city='Bhopal'"/>
                <input type="text" ng-model="patient.address.state" placeholder="State"
                       ng-init="patient.address.state='MP'"/>
            </div>
            <div class="row">
                <input type="text" ng-model="patient.address.country" placeholder="Country"
                       ng-init="patient.address.country='India'"/>
                <input type="text" ng-model="patient.address.pincode" placeholder="Pin code"
                       ng-init="patient.address.pincode='462001'"/>
            </div>
            <div class="row" style="alignment: right">
                <button type="button" class="btn btn-primary"
                        ng-click="savePatient(patient)">Add/Update Patient
                </button>
            </div>
        </div>
    </div>
</div>