.metadata
.classpath
.project
.settings
.eclipse-pmd
.idea
*.iml
*.idea
.springBeans
target
.DS_Store
*/**/.DS_Store
/ui/bower_components/**
/ui/dist/**
/ui/node/**
/ui/node_modules/**
/src/main/webapp/**