.metadata
.classpath
.project
.settings
.eclipse-pmd
.idea
*.iml
*.idea
.springBeans
target
.DS_Store
*/**/.DS_Store
/src/main/webapp/front-end/bower_components/**
/src/main/webapp/resources/bower_components/**

