<!-- Page Content -->
<div class="container">
    <div class="col-md-3 patient">
        <h2 style="background-color: #00b3ee">Patient Detail</h2>
        <div class="row">
            <div class="col-md-12">
                <img class="img-responsive" ng-src="{{patient.imagePath}}"
                     onerror="this.src='resources/app/images/patients/patient.svg'"/>
            </div>
            <div class="col-md-12">
                <div>
                    <span class="label" ng-bind="patient.name | uppercase"></span>
                </div>
                <div class="row">
                    <b><span ng-bind="patient.gender"></span></b>
                    <span> Age :</span> <b><span> {{patient.dateOfBirth | age}} Years</span></b>
                </div>
                <div class="row">
                    <b> Mobile : </b><span ng-bind="patient.phoneNumber"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
        <div ng-repeat="treatment in treatments">
                <div class="col-md-9 portfolio-item" style="border: solid;border-color: black">

                    <div class="row">
                    <h2 style="background-color: #00b3ee">Treatment ID : {{treatment.id}}</h2>
                        <!--<div ng-repeat="images in treatment.preTreatmentImages">
                            <img class="img-responsive" ng-src="{{images.path}}"/>
                        </div>-->
                    </div>
                    <div class="row">
                        <div class="col-md-2"><b> Status : </b></div>
                        <div class="col-md-2"><select ng-model="treatment.status">
                            <option ng-repeat="status in status" value="{{status.status}}"
                                    ng-selected="treatment.status === status.status">{{status.status}}
                            </option>
                        </select></div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><b> Chief Complaint : </b></div>
                        <div class="col-md-2"><input type="text" size="90" ng-model="treatment.chiefComplaintDescription"
                               placeholder="Chief Complaint"/></div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><b> Notes : </b></div>
                        <div class="col-md-2"><input type="text" size="90" ng-model="treatment.notes" placeholder="Notes"/></div>
                    </div>


                    <br/>

                    <div class="row col-md-12">
                        <b>Patient Oral Examinations</b>
                        <button ng-click="addPatientOralExamination()" style="background-color: red"><b>+</b></button>
                    </div>
                    <br />
                    <div class="row col-md-12">
                        <b>Total Treatment Cost</b> : {{totalCost}}
                    </div>
                    <div class="row">
                        <div class="col-md-4"><b> Description : </b>  </div>
                        <div class="col-md-4"><b> Cost : </b> </div>
                    </div>
                    <div ng-repeat="oralExamination in treatment.patientOralExamination">
                        <div class="row">
                            <div class="col-md-4"><input type="text" ng-model="oralExamination.description" placeholder="Description"/></div>
                            <div class="col-md-4"><input type="number" ng-model="oralExamination.cost" placeholder="Cost" ng-change="updateTotalCost()"/></div>
                        </div>
                    </div>

                    <br/>

                    <div class="row col-md-12">
                        <b>Payments Detail</b>
                        <button ng-click="addPayment()" style="background-color: red"><b>+</b></button>
                    </div>
                    <br />
                    <div class="row col-md-12">
                        <b>Payment Made</b> : {{paymentMade}} <b>Pending Payment</b> : {{pendingPayment}}
                    </div>
                    <div class="row">
                        <div class="col-md-3"><b> Payment Date : </b></div>
                        <div class="col-md-3"><b> Payment Amount : </b></div>
                        <div class="col-md-3"><b> Treatment Done : </b></div>
                    </div>
                    <div ng-repeat="payment in treatment.payment">
                        <div class="row">
                            <div class="col-md-3"><ng-datepicker format="YYYY-MM-DD" view-format="Do MMMM YYYY" ng-model="payment.paymentDate"></ng-datepicker></div>
                            <div class="col-md-3"><input type="number" ng-model="payment.paymentAmount" placeholder="Amount" ng-change="updateTotalPayment()"/></div>
                            <div class="col-md-3"><input type="text" ng-model="payment.treatmentDone" placeholder="Notes"/></div>
                        </div>
                    </div>
                </div>
            <!--<div ng-repeat="images in treatment.postTreatmentImages">
                <img class="img-responsive" ng-src="{{images.path}}"/>
            </div>-->
        </div>
        <div class="row" style="margin-bottom: 60px">
            <div class="col-lg-12">
                <button type="button" class="btn btn-primary"
                        ng-click="saveTreatment(treatments)">Add/Update Treatment
                </button>
            </div>
        </div>
</div>
