<div class="container">
    <div class="row">
        <div class="col-sm-3" style="font-size: large; height: 30px;padding:5px;">
            <a href="#/patient/{{patient.id}}">
                <span class="glyphicon glyphicon-edit"></span> {{patient.name | uppercase}}</a>
        </div>
        <div class="col-sm-3">
            <strong>{{patient.gender | uppercase}}</strong> ({{patient.dateOfBirth | age}} Years)
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-phone-alt"></span> +91-{{patient.phoneNumber}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 btn-group">
            <div class="btn btn-md btn-success" ng-click='addNewTreatment(treatments.length)'>Add New Treatment</div>
        </div>
    </div>
</div>
<div class="container">
        <div ng-repeat="treatment in treatments" class="portfolio-item boxed">

            <div class="row">
                <h2 style="background-color: #00b3ee">Treatment ID : {{treatment.id}}</h2>
            </div>

            <div class="row">
                    <div class="col-md-9">
                        <table class="table"><thead><tr>
                            <th ng-if='treatment.id'>
                                    <a href="#/treatment/{{treatment.id}}/pre/images/{{treatment.preImageCount}}">
                                        <span class="label">PRE TREATMENT IMAGES</span>
                                    </a>
                                </th>
                                <th ng-if='treatment.id'>
                                    <a href="#/treatment/{{treatment.id}}/post/images/{{treatment.postImageCount}}">
                                        <span class="label">POST TREATMENT IMAGES</span>
                                    </a>
                                </th>
                                <th>
                                    <b> Status : </b>
                                    <select ng-model="treatment.status">
                                        <option ng-repeat="status in status" value="{{status.status}}"
                                                ng-selected="treatment.status === status.status">{{status.status}}
                                        </option>
                                    </select>
                                </th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                    <br />

                    <div class="row">
                        <div class="col-md-3"><b> Chief Complaint : </b></div>
                        <div class="col-md-6"><input type="text" size="90" ng-model="treatment.chiefComplaintDescription"
                               placeholder="Chief Complaint"/></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><b> Notes : </b></div>
                        <div class="col-md-6"><input type="text" size="90" ng-model="treatment.notes" placeholder="Notes"/></div>
                    </div>

                    <br/>

                    <div class="row">
                        <div class="col-md-3">
                            <b>Patient Oral Examinations </b>
                            <button ng-click="addPatientOralExamination($index)">
                                <i class="fa fa-plus-square" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                    <div class="col-md-4">
                        <table class="table"><thead><tr>
                            <th>Description</th>
                            <th>Cost</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="oralExamination in treatment.patientOralExamination">
                            <td>
                                <!--<select ng-model="oralExamination.description">
                                    <option ng-repeat="procedure in procedures" value="{{procedure.procedure}}"
                                            ng-selected="oralExamination.description === procedure.procedure">{{procedure.procedure}}
                                    </option>
                                </select>-->
                                <textarea name="oralExamination.description" id="oralExamination.description" ng-model="oralExamination.description" placeholder="Description" cols="20" rows="1"></textarea>
                            </td>
                            <td>
                                <input type="number" ng-model="oralExamination.cost" placeholder="Cost" ng-change="updateTotalCost()"/>
                            </td>
                        </tr>
                        </tbody>
                    </table></div>
                    </div>

                    <br/>
                    <br/>

                    <div class="row">
                        <div class="col-md-3">
                            <b>Payments Detail </b>
                            <button ng-click="addPayment($index)">
                                <i class="fa fa-plus-square" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                    <div class="col-md-7">
                        <table class="table"><thead><tr>
                            <th>Payment Date</th>
                            <th>Payment Amount</th>
                            <th>Treatment Done</th>
                        </tr>
                        </thead>
                            <tbody>
                            <tr ng-repeat="payment in treatment.payment">
                                <td>
                                <ng-datepicker format="YYYY-MM-DD" view-format="Do MMMM YYYY" ng-model="payment.paymentDate"></ng-datepicker>
                            </td>
                            <td>
                                <input type="number" ng-model="payment.paymentAmount" placeholder="Amount" ng-change="updateTotalPayment($index)"/>
                            </td>
                            <td>
                                <textarea name="payment.treatmentDone" id="payment.treatmentDone" ng-model="payment.treatmentDone" placeholder="Notes" cols="100" rows="3"></textarea>
                            </td>
                        </tr>
                        </tbody>
                    </table></div>
                    </div>
                    <br/>
            <div class="row">
                    <div class="col-md-7">
                        <table class="table"><thead><tr>
                            <th>Total Cost : {{totalCost}}</th>
                            <th>Payment Made : {{paymentMade}}</th>
                            <th>Pending Payment : {{pendingPayment}}</th>
                        </tr>
                        </thead>
                    </table>
                    </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 60px">
            <div class="col-lg-12">
                <button type="button" class="btn btn-primary"
                        ng-click="saveTreatment(treatments)">Save
                </button>
            </div>
        </div>
</div>
