body {
    padding-top: 70px;
}
footer {
    background-color: gray;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
}
.boxed {
    border:ridge;
    border-color: darkgray;
    margin: 0px 10px 40px 10px;
    padding-bottom: 5px;
}
.view {
    width: 80%;
    margin: 0 auto;
    text-align: left;
}
.search{
    margin: 0px;
    font-size: large;
    width: 200px;
    padding: 0px;
    position:relative;
}
.search input{
    border: none;
    width: 100%;
    line-height: 13px;
    padding: 11px 0;
    border-radius: 22px;
    box-shadow: 2px 2px 8px #c4c4c4 inset;
    text-align: left;
    font-family: inherit;
    color: #231789;
    font-weight: bold;
    outline: none;
    text-indent: 40px;
}
.align-right {
    float:right;
    clear:both;
    margin: 3px;
}
.align-left {
    float:left;
    clear:both;
    margin: 3px;
}
.navbar-inverse {
    height: 50px;
}
.row {
    margin: 5px;
}
.alert {
    padding: 5px;
    margin: 5px;
}
.portfolio-item {
    margin-top: 10px;
    margin-bottom: 10px;
}
.img-responsive {
    margin-top: 5px;
    margin-bottom: 10px;
    height: 150px;
    width: 250px;
}
.label {
    background-color: rgba(30, 96, 247, 0.17);
    font-size: small;
    color: #231789;
    padding: 5px
}
.red-big-text {
    margin-top: 15px;
    margin-right: 15px;
    font-size: large;
    color: red
}
option.heading {
    background-color: red;
    color: white;
    text-transform: uppercase;
}

option.choice {
    color: blue;
}

.welcome {
    color: #00ff1f;
}