
body {
    padding-top: 70px;
}

.portfolio-item {
    margin-bottom: 25px;
}

footer {
    margin: 50px 0;
}

.search{
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    background-color:#5c9bb7;
    box-shadow: 0 1px 1px #ccc;
    border-radius: 2px;
    width: 200px;
    padding: 5px;
    position:relative;
}

.search input{

    border: none;
    width: 100%;
    line-height: 15px;
    padding: 11px 0;

    border-radius: 2px;
    box-shadow: 0 2px 8px #c4c4c4 inset;
    text-align: left;
    font-size: 10px;
    font-family: inherit;
    color: #738289;
    font-weight: bold;
    outline: none;
    text-indent: 40px;
}

.navbar-inverse {
    height: 60px;
}