<div class="container" style="margin-bottom: 10px;">
    <ul class="nav navbar-nav col-md-12">
        <li class="red-big-text">
            <b> Search Patient </b>
        </li>
        <li>
            <div class="search">
                <input type="text" ng-model="searchName" placeholder="Enter patient name"/>
            </div>
        </li>
        <li>
            <div class="search">
                <input type="text" ng-model="searchNumber" placeholder="Enter patient mobile number"/>
            </div>
        </li>
    </ul>
</div>

<!-- Page Content -->
<div class="container">
    <div ng-repeat="patient in patients | searchForName:searchName | searchForNumber:searchNumber"
         class="col-md-3 patient">
        <div class="row">
            <div class="col-md-12">
                <img class="img-responsive" ng-src="{{patient.imagePath}}"
                     onerror="this.src='resources/app/images/patients/patient.png'"/>
            </div>
            <div class="col-md-12">
                <div>
                    <a href="#/patient/{{patient.id}}">
                        <span class="label" ng-bind="patient.name | uppercase"></span>
                    </a>
                 </div>
                <div class="row">
                    <b><span ng-bind="patient.gender"></span></b>
                    <span> DOB:</span><span ng-bind="patient.dateOfBirth"></span><span><b>(45Y11M)</b></span>
                </div>
                <div class="row">
                    <b> Mobile : </b><span ng-bind="patient.phoneNumber"></span>
                </div>
                <div>
                    <a href="#/patient/{{patient.id}}/treatment">
                        <span class="label">UPDATE TREATMENT</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
