<div class="container" style="margin-bottom: 10px;">
    <ul class="nav navbar-nav col-sm-12">
        <li class="search col-sm-12">
            <span class="col-sm-1" style="padding-top: 10px; padding-right: 0px;"><a href="#/patient/new"><span class="glyphicon glyphicon-plus"></span>New</a></span>
            <span class="col-sm-10"><input type="text" ng-model="searchKey" placeholder="Name/Mobile/Gender/Email"/></span>
        </li>
    </ul>
</div>

<!-- Page Content -->
<div class="container">
    <section style="margin: 50px">
        <div ng-repeat="patient in patients | searchOnKey:searchKey">
            <div class="row">
                <div class="col-sm-3" style="font-size: large; height: 30px;padding:5px;">
                    <a href="#/patient/{{patient.id}}">
                        <span class="glyphicon glyphicon-edit"></span> {{patient.name | uppercase}}</a>
                </div>
                <div class="col-sm-2">
                    <strong>{{patient.gender | uppercase}}</strong> ({{patient.dateOfBirth | age}} Years)
                </div>
                <div class="col-sm-2">
                    <span class="glyphicon glyphicon-phone-alt"></span> +91-{{patient.contactList[0].phoneNumber}}
                </div>
                <div class="col-sm-3">
                    <span class="glyphicon glyphicon-envelope"></span> {{patient.contactList[0].email}}
                </div>
                <div class="col-sm-2 btn-group">
                    <a href="#/patient/{{patient.id}}/treatment" class="btn btn-md btn-primary">
                        <span class="glyphicon glyphicon-edit"></span> Treatments</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <hr />
                </div>
            </div>
        </div>
    </section>
</div>
