<div class="container" style="margin-bottom: 10px;">
    <ul class="nav navbar-nav col-md-12">
        <li class="red-big-text">
            <b> Search Patient </b>
        </li>
        <li>
            <div class="search">
                <input type="text" ng-model="searchName" placeholder="Enter patient name"/>
            </div>
        </li>
        <li>
            <div class="search">
                <input type="text" ng-model="searchNumber" placeholder="Enter patient mobile number"/>
            </div>
        </li>
    </ul>
</div>

<!-- Page Content -->
<div class="container">
    <section>
        <div class="row" style="margin-bottom: 50px;">
        <div ng-repeat="patient in patients | searchForName:searchName | searchForNumber:searchNumber" class="col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img class="img-responsive" ng-src="{{patient.imagePath}}"
                             style="height: 200px;" alt="Patient Image" onerror="this.src='resources/app/images/patients/patient.svg'"/>
                        <h3>
                            <a href="#/patient/{{patient.id}}">
                            <span class="label" ng-bind="patient.name | uppercase"></span>
                            </a>
                        </h3>
                        <p>
                            <strong>{{patient.gender | uppercase}}</strong> Age : {{patient.dateOfBirth | age}} Years
                            <br/> M : +91-{{patient.phoneNumber}}
                        </p>
                        <div class="btn-group">
                            <a href="#/patient/{{patient.id}}/treatment" class="btn btn-md btn-primary">Treatments</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
